/*Start pagination here*/
ul.pagination {
    display: inline-block;
    padding-bottom: 20px;
    margin-top: 20px;
}
ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 0px 13px;
    text-decoration: none;
    border-radius: 5px;
    border: 0px solid #fff;
}
ul.pagination li a.active {
    background-color: #dd2a1b;
    color: white;
    border-radius: 7px;

}
ul.pagination li a:hover:not(.active) {background-color: #fff;}


.wrapp-pagination{
	margin-bottom: 20px;
}
.pagination-pager + .pagination-mode-toggle.with-pager {
    border-right: 1px solid #ddd;
    margin-right: 7px;
    padding-right: 14px;
}
.pagination-pager-list, .pagination-pager-buttons {
    display: inline-block;
}
.pagination-pager li {
    color: #000;
    display: inline-block;
    text-align: center;
}
.pagination-pager-page {
    cursor: pointer;
    height: 22px;
    padding-left: 7px;
    padding-right: 7px;
}
.pagination-pager-buttons {
    border-left: 1px solid #ddd;
    margin-left: 7px;
    padding-left: 10px;
}
.pagination-pager button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #ddd;
    border-radius: 50%;
    height: 22px;
    line-height: 0;
    position: relative;
    top: -1px;
    width: 22px;
}
.pagination-pager button.icon-angle-right {
    padding-left: 7px;
}
.pagination-pager button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #ddd;
    border-radius: 50%;
    height: 22px;
    line-height: 0;
    position: relative;
    top: -1px;
    width: 22px;
}
.pagination-mode-toggle {
	cursor: pointer;
	color: #dd2a1b;
	/*font-family: Gill Sans,sans-serif;*/
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    background-color: #fff;
    border-color: #fff;
    color: #dd2a1b;
}
.pagination-pager button:hover{
	color: #dd2a1b;
}
/* End pagination here*/